'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'Pulsar Assistant'
        'submenu': [
          {
            'label': 'Open for this Project'
            'command': 'pulsar-assistant:open-for-project'
          }
          {
            'label': 'Toggle Panel'
            'command': 'pulsar-assistant:toggle'
          }
          {
            'label': 'Focus Panel'
            'command': 'pulsar-assistant:focus'
          }
          {
            'label': 'Edit Agents'
            'command': 'pulsar-assistant:edit-agents'
          }
          {
            'label': 'Manage Projects & Storage'
            'command': 'pulsar-assistant:manage-projects'
          }
        ]
      }
    ]
  }
]

'context-menu':
  '.tree-view .file, .tree-view .directory':
    [
      {
        'label': 'Open Pulsar Assistant for this Project'
        'command': 'pulsar-assistant:open-for-project'
      }
    ]
  '.pulsar-assistant':
    [
      {
        'label': 'Copy'
        'command': 'core:copy'
      }
    ]
